<div class="container">
    <p class="h2">List Products</p>
        <div class="row justify-content-between align-item-center mt-5">
            <div class="col-lg-6 d-flex justify-content-center">
                <a class="btn btn-success" (click)="addProduct()">Add Product</a>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                <form class="d-flex justify-content-center align-items-center">
                    <div>
                        <input #filterValue class="form-control  form-seacrh-input me-sm-2" type="text"
                            placeholder="Search product ..." />
                    </div>
                    <div>
                        <button class="btn btn-outline" (click)="filterByName(filterValue)" type="button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
       
    <div
        class="table-responsive mt-5"
    >
        <table
            class="table table-striped table-hover table-borderless table-primary align-middle"
        >
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr
                    class="table-primary" *ngFor="let item of listProduct | paginate: { itemsPerPage: 10, currentPage: page }, let i = index"
                >
                    <td scope="row">{{i+1}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{ item.price | number:'1.0-0' }} VND</td>
                    <td><img
                        src="{{item.image}}"
                        class="rounded-top"
                        width="200px" height="150px"
                        alt=""
                    />
                    </td>
                    <td>{{item.category}}</td>
                    <td>{{item.status ? "active" :'disabled'}}</td>
                    <td>
                        <a class="btn btn-info" (click)="editProduct(item.id)">Edit</a>
                        <a class="btn btn-danger" (click)="deleteProduct(item.id)">Delete</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                
            </tfoot>
        </table>
    </div>
    <div>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>
