.border-bottom{
    padding: 10px;
    border-bottom: 1px solid gray;
}
.payment-method{
    border-top: 3px solid #74a84a;
}
.btn-to-checkout{
    width: 100%;
    background-color: #74a84a;
    color: white;
    text-transform: uppercase;
    padding: 20px;
}