<style>
    .footer-navi a{
        margin-right: 20px;
        text-decoration: none;
        color: #000;
    }
    .footer-title{
        font-weight: bold;
        font-size: 30px;
    }
    .footer{
        border-top: 1px solid gray;
    }
</style>
<footer>
    <div class="footer p-3 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="d-flex footer-navi justify-content-center">
                        <a href="">Home</a>
                        <a href="">About</a>
                        <a href="">Shop</a>
                        <a href="">Contact</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-title d-flex justify-content-center">
                        Earth Store
                    </div>
                </div>
                <div class="col-lg-4 justify-content-center">
                    <p>Copyright © 2024 Planet Earth Store</p>
                </div>  
            </div>
        </div>
    </div>
</footer>